<section class="container">
	<section class="form-control">
	  <div class="form-group">
	    <label class="col-lg-2 control-label">Type your text</label>
	    <div class="col-lg-4">
	      <input type="text" class="form-control" id="inputPassword" [(ngModel)]="name"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-lg-2 control-label">Result</label>
	    <div class="col-lg-4">
	      <p class="jumbotron alert-success">{{name}}</p>
	    </div>
	  </div>
	</section>
</section>



