<section class="container">
	<section class="form-control">
		<titleSimple></titleSimple>
		<headerSimple></headerSimple>
	</section>
	<section class="table-responsive-lg table-responsive-md table-responsive-sm">
		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Street</th>
					<th>City</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of Users">
					<td>{{user.id}}</td>
					<td>{{user.name}}</td>
					<td>{{user.username}}</td>
					<td>{{user.email}}</td>
					<td>{{user.address.street}}</td>
					<td>{{user.address.city}}</td>
				</tr>
			</tbody>
		</table>
	</section>
</section>