.form-control {
  height: auto !important;
  margin-top: 2rem !important;
}
.form-control input.form-control {
  margin-top: 0 !important;
}
.form-control p {
  height: auto !important;
  min-height: 60px !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
.jumbotron {
  padding: 1rem !important;
}
.card h2 {
  font-weight: bold !important;
  padding: 1.5rem 0 !important;
}
.card .card-body {
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: row !important;
}
